@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #000;
}

body{
  font-family: 'Montserrat', sans-serif;
}

ul,li,ol{list-style: none;}

button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color: #022454;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.table-container::-webkit-scrollbar{
  width: 10px;
}

.table-container::-webkit-scrollbar-thumb{
  background-color: #022454;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}